$background-color: #243763;
* {
	font-family: 'Times New Roman', Times, serif;
}
.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.header {
	width: 100%;
	height: 10vh;
	background-color: $background-color;
}

.footer {
	width: 100%;
	height: 8vh;
	background-color: $background-color;
	margin-bottom: 12px;
}
@media screen and (max-width: 1000px) {
	.all-data {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
